@tailwind base;
@tailwind components;
@tailwind utilities;

/* html, body, heading */
@layer base {
  /* 웹을 앱 같이 보이게 바꿔주는 부분 */
  html {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  html, body {
    @apply p-0 m-0
  }

  a {
    @apply no-underline
  }

  * {
    @apply box-border
  }
}

/* custom classNames */
@layer components {
  .navLink {
    @apply
  }

  .ellipsisTwoLine {
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-word;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical
  }

  .ellipsisThreeLine {
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-word;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical
  }

  .selectTopicsContainer {
    @apply grid grid-cols-3 gap-6;
    grid-auto-rows: minmax(100px, auto);
  }

  .improvingImageQuality {
    transform: translateZ(0);
  }

  /*.weekCalendar {*/
  /*  @apply w-[12%] h-14 border rounded-xl bg-[#D5E3B1] flex flex-col items-center space-y-1.5;*/
  /*}*/
}

/* MUI Switch Custom */
/*.MuiSwitch-thumb {*/
/*  @apply bg-surface border-2 border-primary*/
/*}*/

/*.MuiSwitch-track {*/
/*  @apply text-primary opacity-100 w-10*/
/*}*/

/*html,*/
/*body {*/
/*  padding: 0;*/
/*  margin: 0;*/
/*  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,*/
/*    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;*/
/*}*/
